@import '~foundation-sites/scss/foundation';
// @import '~motion-ui/motion-ui';

@include foundation-everything;

.off-right {

    animation-name: moveFromRightToLeft;
    animation-duration: 4s;

}

// @keyframes moveFromRightToLeft {
//     from {
//         tranform: translateX(200%)
//     }
//     to {
//         transform: translateX(0%)
//     }
// }

// .grid-container{
//     max-width: 700px;
// }

// .button {
//     text-align: left;
// }


//TODO: create css page transition when the user clicks on the menu and move
//to tea view
.move-to-left {
    animation-name: move-to-left;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.move-to-right {
    animation-name: move-to-right;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

// @keyframes moveToLeft{
//     from{
//         transform: translateX(0%);
//     }

//     to{
//         transform: translateX(-200%);
//     }
// }

@keyframes move-to-left {
    from { transform: translateX(150%)}
    to { transform: translateX(0%); }
}

@keyframes move-to-right {
    from {transform: translateX(-150%)}
    to { transform: translateX(0%); }
}